group Build
source https://nuget.org/api/v2

nuget FAKE
nuget OpenCover
nuget xUnit.Runner.Console
nuget secure-file
nuget Brutal.Dev.StrongNameSigner

group Test
source https://nuget.org/api/v2

nuget FsUnit.xUnit

group PerformanceTest
source https://nuget.org/api/v2

nuget Newtonsoft.Json